<%- content_for( :home_active ) { "active" } %>
<%- content_for( :header_title ) { "Vink" } %>
<%- content_for( :footer ) {  } %>
<%- content_for( :header_menu_left ) { } %>
<%- content_for( :header_menu_rught ) { } %>

<h1>Home#index</h1>
<%= @data %>
<p>Find me in app/views/home/index.html.erb</p>
<video id="preview" width="100" height="150"></video>
<script type="text/javascript">
    var scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
    scanner.addListener('scan', function (content) {
      alert(content);
    });
    Instascan.Camera.getCameras().then(function (cameras) {
      if (cameras.length > 0) {
        scanner.start(cameras[0]);
      } else {
        console.error('No cameras found.');
      }
    }).catch(function (e) {
      console.error(e);
    });
</script>
