// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.menu-label{
  font-weight: bold;
  font-size: 18px;
  color: red;
}
.space-padding{
  padding: 10px 10px 0px 10px;
}
.image-show-product{
  width: 100%
}
